.ant-data-right .data-right-header {
  margin: 2% auto 3%;
  height: 150px;
  text-align: center;
  line-height: 120px;
}
.ant-data-right .data-right-header .div {
  margin-left: 2px;
  background-color: #34495e;
  color: #fff;
  cursor: pointer;
}
.ant-data-right .data-right-header .div:hover {
  background-color: #e44747;
}
.data-right-middle {
  margin-top: 3rem;
}
.data-right-middle .right-middle-bottom {
  margin-top: 3rem;
  text-align: center;
  line-height: 1rem;
}
.data-right-middle h3:hover {
  color: #e44747;
  cursor: pointer;
}
.triangle {
  position: absolute;
  width: 3em;
  height: 3em;
  background-color: #34495e;
  margin-top: -2em;
  margin-left: 40%;
  transform: rotate(45deg);
  z-index: -1;
}
