.new-live-video-left {
  height: 700px;
  padding-left: 2%;
}
.new-live-video-left header input {
  height: 40px;
}
.new-live-video-left .new-live-video-left-article {
  height: 400px;
}
.new-live-video-left footer .new-video-left-footer-div-b {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #666;
  height: 40px;
  text-align: center;
  margin-top: 2rem;
  line-height: 40px;
  cursor: pointer;
}
.new-live-video-left footer .new-video-left-footer-div-b i {
  color: #fff;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.new-live-video-right {
  height: 700px;
}
.new-live-video-right .new-live-video-right-header-div {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #000000;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.new-live-video-right header input {
  height: 40px;
  width: 100%;
}
.new-live-video-right .new-video-right-article-div {
  margin-top: 1rem;
}
.new-live-video-right .new-video-right-article-div .new-video-right-article-div1 {
  border: 1px solid gray;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.ant-time-picker-panel-input,
.ant-time-picker-panel-input-wrap {
  width: 120px;
  height: 40px;
}
.addUserDiv {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #f4f4f4;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
