.video-check-header {
  height: 5rem;
  border-bottom: 1px solid gray;
  margin-bottom: 2rem;
}
.video-check-left {
  font-size: 1.5rem;
  height: 45rem;
  min-width: 500px;
}
.video-check-left .video-check-left-position {
  border: 1px solid black;
  height: 22.5rem;
}
.video-check-left .video-check-left-position .video-check-left-position-opacity {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20rem;
  background-color: rebeccapurple;
  opacity: 0;
}
.video-check-left .video-check-left-position .video-check-left-position-opacity:hover {
  opacity: 0.7;
  transition: opacity .5s;
}
.video-check-right {
  height: 45rem;
  min-width: 400px;
}
.video-check-right .video-check-right-m {
  height: 37rem;
  overflow: auto;
  overflow-x: hidden !important;
}
.video-check-right .video-check-right-m .video-check-right-comment {
  height: 9rem;
  margin-bottom: 1rem;
  background-color: #999;
  color: black;
}
.video-check-right .video-check-right-m .video-check-right-commentList {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #666;
  color: white;
}
